<% if (!index){ %>
<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = '<%= url %>';
this.page.identifier = <%= item.id %>;
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//<%- theme.disqus_shortname%>.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
<div class="busuanzi center">
页阅读量:&nbsp;<span id="busuanzi_value_page_pv"></span>&nbsp;・&nbsp;
站访问量:&nbsp;<span id="busuanzi_value_site_pv"></span>&nbsp;・&nbsp;
站访客数:&nbsp;<span id="busuanzi_value_site_uv"></span>
</div>
<% } %>
