<%- partial('_partial/head') %>
<body>
  <a id="top"></a>
  <div id="main">
    <div class="main-ctnr">
      <%- body %>
    </div>
  </div>
  <footer class="page-footer"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>
