@import "navigator";
@import "search";
@import "posts";
@import "pager";
@import "footer";
@import "code";
@import "animation";
$background: #fcfcfc;
$theme: #2570a1;
$para: #555;
$lighter: #adadad;
::selection {
    background: lighten($theme, 40%);
}

::-moz-selection {
    background: lighten($theme, 40%);
}

::-webkit-selection {
    background: lighten($theme, 40%);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

@import url(https://fonts.gmirror.org/css?family=Open+Sans+Condensed:300,700|Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Pacifico);

.index-title, .navbar-brand, .section-year, .archive-title, .pager {
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    font-family: "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-color: $background;
}

.archive-time {
    background-color: $background;
}

.index-title, .archive-link, .dropdown-content, .index-meta, .current {
    font-weight: 700 !important;
}

p, .excerpt, .behind, .meta, .post li {
    font-weight: 300;
}

.navbar-brand, .right-foot, .pager {
    font-size: 1.5em;
}

.busuanzi, .behind, .dropdown-content, .meta {
    -webkit-font-smoothing: antialiased;
}

a, a:hover, a:focus {
    color: $theme;
}

.container {
    max-width: 850px;
    padding: 0 5%;
}

p {
    font-size: 18px;
    line-height: 2em;
    padding: 10px 0;
    letter-spacing: .6px;
    color: $para;
}

.post li {
    font-size: 18px;
    line-height: 2em;
    letter-spacing: .5px;
    list-style-type: disc;
    color: lighten($para, 10%);
}

li {
    list-style: none;
}

.behind {
    font-size: 22px;
    padding: 22px 0;
    letter-spacing: 2px;
    color: $lighter;
}

.back {
    position: fixed;
    top: 18px;
    left: 5%;
}

.center, .behind, .archive-title, .archive-num, .picture-container {
    text-align: center;
}

.meta {
    font-size: 15px;
    color: $lighter;
    padding-top: 13px;
    a {
        color: lighten($theme, 10%);
    }
}

.black-color {
    color: black;
}

.archive-num {
    padding: 10px 0;
    color: $lighter;
}

.archive-list {
    padding: 10px 0;
}

.archive-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.archive-time {
    font-size: 20px;
    width: 40%;
    margin-right: 20px;
    text-align: right;
    color: lighten($lighter, 10%);
}

.archive-detail {
    font-size: 17px;
    width: 90%;
    padding: 0 20px;
    word-wrap: break-word;
    border-left: 1px solid lighten($lighter, 10%);
}

article {
    padding: 40px 0;
}

blockquote {
    margin: 30px 0;
    font-style: italic;
    padding: 0;
    padding-left: 3rem;
    border: 0;
    p {
        color: #333;
        line-height: 1.48;
        font-size: 1.2em;
    }
}



table {
    width: 100%;
}

img, object, video, iframe {
    max-width: 110%;
}

iframe {
    min-width: 100%;
}

img {
    margin-top: 30px;
    display: block;
    height: auto;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.busuanzi {
    font-size: 14px;
    line-height: 14px;
    margin: 30px 0;
    color: #CDD2D4;
}

@media screen and (max-width:782px) {
    .back, li.archives, .busuanzi {
        display: none;
    }
    .behind {
        padding: 12px 0;
        opacity: 0;
    }
    .container {
        padding: 0;
    }
    .standard, .archive, .archive-title, #disqus_thread {
        padding: 0 7%;
    }
    p, .post li {
        font-size: 16px;
        line-height: 1.9em;
    }
    .archive-title {
        font-size: 2.2em;
    }
    .post ul {
        margin-left: -10px;
    }
}
