h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 600;
}
@font-face
{
    font-family: 'Open Sans Condensed';
    font-weight: 300;
    font-style: normal;

    src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(http://7xs4ih.com1.z0.glb.clouddn.com/opensanscondlight.woff) format('woff');
}
@font-face
{
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    font-style: normal;

    src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(http://7xs4ih.com1.z0.glb.clouddn.com/opensanscondbold.woff) format('woff');
}
@font-face
{
    font-family: 'Pacifico';
    font-weight: 400;
    font-style: normal;

    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://7xs4ih.com1.z0.glb.clouddn.com/pacificoregular.woff) format('woff');
}
.picture-container
{
    text-align: center;
}
.post-item
{
    padding: 10px 0;
}
img
{
    max-width: 100%;
}
.index-title,
.page-title,
.navbar-brand,
.btn
{
    font-family: 'Open Sans Condensed', sans-serif;
}
body,
.archive-time
{
    font-family: 'Hiragino Sans GB', 'Lucida Sans Unicode', 'WenQuanYi Micro Hei', Verdana, Aril, sans-serif;

    background-color: rgb(249, 250, 251);
}
pre
{
    font-size: 1.5rem;
    line-height: 24px;

    margin-bottom: 0;
    padding: 15px;

    border: 0;
    border-radius: 5px;
}
code
{
    word-wrap: break-word;

    color: #000;
}
code,
pre
{
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;

    background: #eee;
}
.index-title,
.page-title,
.btn,
.archive-link,
.dropdown-content,
.index-meta
{
    font-weight: 700 !important;
}
p,
.excerpt,
.behind,
.meta,
.excerpt
{
    font-weight: 300;
}
.navbar-brand,
.btn,
.right-foot
{
    font-size: 1.5em;
}
a,
a:hover,
a:focus
{
    color: #2570a1;
}
.dropdown-toggle,
.dropdown-menu,
.open,
a,
a:hover,
a:focus
{
    transition: .2s ease-in-out;
}
.right-foot
{
    font-family: 'Pacifico', cursive;

    position: fixed;
    z-index: 0;
    bottom: 420px;
    left: 50%;

    -webkit-transform: rotate(270deg);
       -moz-transform: rotate(270deg);
         -o-transform: rotate(270deg);

    writing-mode: lr-tb;
}
.container
{
    max-width: 850px;
}
.nav-container,
.container
{
    padding: 0 5%;
}
p,
.excerpt
{
    font-size: 16px;
    line-height: 1.85em;

    padding: 10px 0;

    letter-spacing: .5px;

    color: #555;
}
.post li
{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;

    list-style-type: disc;

    color: #666;
}
li
{
    list-style: none;
}
.page-title
{
    font-size: 38px;
    line-height: 45px;

    margin: 10px 0 20px;
}
.behind
{
    font-size: 22px;

    padding: 22px 0;

    letter-spacing: 2px;

    color: #adadad;
}
.back
{
    position: fixed;
    top: 18px;
    left: 5%;
}
article
{
    padding: 40px 0;
}
.center,
.behind,
.archive-title,
.archive-num
{
    text-align: center;
}
.meta
{
    font-size: 15px;
    line-height: 20px;

    padding-bottom: 30px;

    color: #adadad;
}
.index-title,
.excerpt,
.index-meta,
.dropdown-content
{
    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
         -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
}
.index-title,
.index-meta,
.dropdown-content
{
    -webkit-transform: translateY(30px);
       -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
         -o-transform: translateY(30px);
            transform: translateY(30px);

    opacity: 0;
}
.excerpt
{
    -webkit-transform: translateY(20px);
       -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
         -o-transform: translateY(20px);
            transform: translateY(20px);

    opacity: 0;
}
.index-title
{
    font-size: 34px;
    line-height: 32px;

    width: 65%;
}
.excerpt
{
    width: 88%;
    padding: 10px 0;
}
.excerpt.animation,
.index-title.animation,
.index-meta.animation,
.dropdown-content.open
{
    visibility: visible;

    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;
}
.index-meta
{
    padding-bottom: 30px;
}
.navbar
{
    background-color: white;
}
.black-color
{
    color: black;
}
.btn:active
{
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}
pre
{
    color: #5a5050;
}
pre .comment
{
    color: #8e908c;
}
.archive-num
{
    padding: 10px 0;

    color: #aaa;
}
.archive-list
{
    padding: 10px 0;
}
.archive-item
{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}
.archive-time
{
    font-size: 20px;

    width: 40%;
    margin-right: 20px;

    text-align: right;

    color: #ccc;
}
.archive-detail
{
    font-size: 17px;

    width: 90%;
    padding: 0 20px;

    word-wrap: break-word;

    border-left: 1px solid #aaa;
}
.dropdown-content
{
    position: absolute;
    top: calc(100% + 0px);

    display: block;
    visibility: hidden;

    width: 220px;
    margin: 0;
    padding: 0;

    color: #111433;
    border: 1px solid #eee;
    background-color: #fff;
}
.dropdown-content li
{
    border-bottom: 1px solid #eee;
}
.dropdown-content li a
{
    display: block;

    width: 100%;
    height: 100%;
    padding: 18px 25px;
}
.navbar-right .dropdown-content
{
    margin-left: -175px;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo
{
    color: #547ab2;
}
pre .keyword,
pre .javascript .function
{
    color: #547ab2;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant
{
    color: #3eacab;
}
pre .ruby .class .title,
pre .css .rules .attribute
{
    color: #3eacab;
}
pre .title,
pre .css .hexcolor
{
    color: #3eacab;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata
{
    color: #3eacab;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title
{
    color: #5a5050;
}
table
{
    width: 100%;
}
iframe
{
    min-width: 100%;
    min-height: 400px;
}
td.gutter
{
    width: 50px;
}
figure
{
    overflow-x: auto;

    border-radius: 5px;
}
@media screen and (max-width:782px)
{
    .back,
    li.archives
    {
        display: none;
    }
    .nav-container
    {
        display: flex;

        justify-content: space-around;
    }
    .navbar-left
    {
        order: 0;
    }
    .navbar-right
    {
        order: 2;
    }
    .navbar-header
    {
        order: 1;
    }
    .navbar-left
    {
        float: left;
    }
    .navbar-right
    {
        float: right;
    }
    .behind
    {
        padding: 0;

        color: rgba(0, 0, 0, 0);
    }
    .right-foot
    {
        font-size: 26px;
        line-height: 35px;

        position: relative;
        bottom: 0;
        left: 0;

        margin-bottom: 30px;

        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
             -o-transform: rotate(0deg);
        text-align: center;
        letter-spacing: 1px;
    }
    i.fa-arrow-right
    {
        -webkit-transform: rotate(270deg);
           -moz-transform: rotate(270deg);
             -o-transform: rotate(270deg);
    }
    .container
    {
        padding: 0;
    }
    .standard,
    .archive,
    .archive-title,
    #disqus_thread
    {
        padding: 0 7%;
    }
    .navbar-nav .open .dropdown-menu > li > a
    {
        line-height: 40px;
    }
    p,
    .excerpt,
    li
    {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.8em;

        margin: 0;

        color: #666;
    }
    .archive-title
    {
        font-size: 2.2em;
    }
    .dropdown-content
    {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;

        display: flex;
        overflow-y: hidden;
        flex-direction: column;

        width: 100%;
        height: 100%;

        text-align: center;

        justify-content: center;
    }
    .navbar-right .dropdown-content
    {
        margin-left: 0;
    }
    .dropdown-content li
    {
        border-bottom: 0 solid #eee;
    }
    .dropdown-content
    {
        -webkit-transform: translateY(50px);
           -moz-transform: translateY(50px);
            -ms-transform: translateY(50px);
             -o-transform: translateY(50px);
                transform: translateY(50px);

        opacity: 0;
    }
    figure
    {
        width: 110%;
        margin-left: -5%;
    }
    pre
    {
        font-size: 1.2rem;
        line-height: 18px;

        padding: 10px;
    }
    .index-title
    {
        width: 80%;
    }
    .post ul
    {
        margin-left: -10px;
    }
}
@media screen and (min-width:360px) and (max-width:782px)
{
    .behind
    {
        padding: 10px 0;

        color: rgba(0, 0, 0, 0);
    }
}
