$a: #555;

.post-item {
    padding: 10px 0;
}

.index-title {
    font-size: 34px;
    line-height: 32px;
}

.excerpt {
    font-size: 18px;
    line-height: 1.95em;
    padding: 10px 0;
    letter-spacing: .6px;
    color: $a;
}

.index-meta {
    padding-bottom: 30px;
}

@media screen and (max-width:782px) {
    // .index-title {
    //     width: 80%;
    // }
    .excerpt {
        font-size: 16px;
        line-height: 1.9em;
    }
}
