#site_search {
    display: flex;
    margin: 9px 15px 7px;
    flex-grow: 1;
}

#local-search-input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    line-height: 1.43;
    color: #555;
    font-size: 14px;
    border: 0;
    border-radius: 0;
    background: #fbfbfa;
    transition: all .2s;
    box-shadow: inset 3px 3px 8px rgba(209, 205, 199, .25);
    font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"PingFang SC",STHeiti,"Helvetica Neue","Microsoft Yahei",Tahoma,Simsun,sans-serif;
    &:focus {
        outline: 0;
    }
}

@media screen and (max-width:782px) {
    #site_search {
        display: none;
    }
}
