#site_search {
    display: flex;
    margin: 8px;
    flex-grow: 1;
}
#local-search-input {
    border: #fff solid 0px;
    -webkit-box-shadow:inset 0 0 1px #aaa;;
       -moz-box-shadow:inset 0 0 1px #aaa;;
            box-shadow:inset 0 0 1px #aaa;;
    background: #fcfcfc;;
}
#local-search-input:focus{
    background: #337ab7;;
    color: #fff;
}
#local-search-input:focus::-webkit-input-placeholder{
    color: #fff;
}
#local-search-input:focus::-moz-placeholder{
    color: #fff;
}
#local-search-input:focus:-ms-input-placeholder{
    color: #fff;
}
.navbar {
    flex-direction: column;
}
.navbar, .navbar-header, .navbar-nav, .local-search-result, .nav-container{
    display: flex;
}
.nav-container {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.navbar-left, .navbar-right {
    flex-grow: 0;
}
#local-search-result {
    left: 15%;
    top: 50px;
    max-height: 80%;
    position: fixed;
    background-color: #337ab7;;
    width: 75%;
    overflow-y: auto;
}
.search-result-title {
    margin-top: 20px;
    color: #fff;
    font-weight: 700!important;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 32px;
    line-height: 32px;
}
.search-result-list li {
    padding: 40px 50px 0 20px;
}
.search-result, .search-result-title:hover {
    color: #ddd;
}
.search-keyword {
    color: #fff;
    font: 900 1em/1em "";
    text-decoration: underline;
    margin: 2px;
}
.search-result {
    word-wrap: break-word;
    word-break: normal;
}
@media screen and (max-width:782px)
{
    #site_search, #local-search-result {
        display: none;
    }
    .nav-container {
        padding: 0;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
    }
    .navbar-left {
        flex-grow: 1.35;
        justify-content: space-around;
    }
    .navbar-right {
        flex-grow: 1;
        justify-content: space-around;
    }

}