.toc {
  position: fixed;
  top: 50%;
  left: calc(50% - 391px);
  text-align: right;
  transform: translate(-100%, -50%);
  padding: 4em 0;
  padding-right: 2em;
  overflow: auto;
  max-height: 100%;
}

.toc-text {
  color: #ACACAB;
  transition: color .3s;
}

.toc-level-1 .toc-text,
.toc-level-2 .toc-text {
  font-weight: 600;
}

.toc-level-3 .toc-text,
.toc-level-4 .toc-text,
.toc-level-5 .toc-text,
.toc-level-6 .toc-text, {
  font-weight: 300;
}

.toc:hover .toc-text {
  color: #2570a1;
}

.toc ol, ul {
    padding-right: .5em;
}

.toc-item:before {
    content: '' !important;
}

// 小屏幕
@media screen and (max-width:1200px) {
  .toc {
    display: none;
  }
}
