<div class="clearfix">
</div>
<div class="right-foot container">
    <div class="firstrow">
        <a href="#top" target="_self">
        <i class="fa fa-arrow-right"></i>
        </a>
        <%- theme.footer_info %>
    </div>
    <div class="secondrow">
        <a href="<%- theme.about.link %>">
        <%- theme.about.title %>
        </a>
    </div>
</div>
<div class="clearfix">
</div>
