<div class="clearfix">
</div>
<div class="right-foot">
    <div class="firstrow">
        <a href="#top" target="_self">
        <svg class="i-caret-right" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
            <path d="M10 30 L26 16 10 2 Z"></path>
        </svg>
        </a>
        <%- theme.footer_info %>
    </div>
    <div class="secondrow">
        <a href="<%- theme.about.link %>">
        <%- theme.about.title %>
        </a>
    </div>
</div>
<div class="clearfix">
</div>
