<div class="clearfix">
</div>
<div class="right-foot container">

    <a class="backtop wow fadeIn animated" href="#top" >
        <i class="fa fa-arrow-right"></i>
    </a>
    <%- theme.footer_info %>
    <a href="<%- theme.about.link %>">
        <%- theme.about.title %>
    </a>

</div>
<div class="clearfix">
</div>
